<div class = "container">
    <div class = "jumbotron text-center">
        <div class = "row">
            <div class = "col-sm-8">
                <%= image_tag("pearse_headshot.jpg", :class => "img-responsive img-circle") %>
            </div>
            <div class = "col-sm-4">
                <h1>Hello! My name is Pearse Hutson</h1>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4 bg-success">
            I have created this app for the HackIllinois competition. It is my hope that studio music teachers will be able to use this app to keep track of their student's progress.
        </div>
        <div class="col-sm-4 bg-warning">
            Obviously, this is just a small first step for this app. I plan to continue developing more features to make this more usable, stable, and secure.   
         </div>
         <div class="col-sm-4 bg-danger">
            I would like to thank HackIllinois for the opportunity to compete and enjoy a weekend of hacking!
        </div>
    </div>
</div>