<div class = "container text-center">
    <h1>Editing Log</h1>
</div>

<%= render 'form' %>

<div class="col-sm-4">
    <%= link_to('Cancel', teacher_student_path(@student.teacher_id, @student), :class => "btn btn-warning btn-block voffset2") %>
</div>
<div class = "col-sm-4">
    <%= button_to('Delete Log
