<div class = "container text-center">
    <h1>New Log!</h1>
</div>

<%= render 'form' %>

<div class="col-sm-offset-6 col-sm-2">
      <%= link_to('Cancel', teacher_student_path(@student.teacher_id, @student), :class => "btn btn-warning btn-block voffset2") %>
</div>
